.Layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    background-color:  rgb(219 220 222 / 23%);;
    height: 100%;
    width: 100%;
}

.row-list{
    border-left: 2px solid rgb(113 154 237 / 98%);;
}

.filter-spacing{
    padding: 5px;
    border-bottom: 1px solid grey;
}

.List{
    justify-content: center;
    align-items: center;
    display: grid;
    padding-top: 25px;
}

.image{
    height: 150px ;
    width: 150px ;
    padding: 10px ;
}

.Room-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(96 88 231);
}

.content-style{
    padding: 20px;
    
}